{{ define "main" }}
<div class="main-content post--single">
    <section class="section-body">
        <header class="u-textAlignCenter">
            <h2 class="block-title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="collectionCard">
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <a class="collectionCard--item" href="{{ $value.Page.Permalink }}" data-count="{{ $value.Count }}">
                {{ if $value.Page.Params.cover }}
                <img src="{{ $value.Page.Params.cover }}" class="collectionCard--image">
                {{ end }}
                <div class="collectionCard--meta">
                    <div class="collectionCard--title">{{ $value.Page.Title }}</div>
                    <div class="collectionCard--description">{{ $value.Page.Params.description }}</div>
                </div>
            </a>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}