<div class="post--ingle__comments" data-id="{{ .File.UniqueID}}">
    <div id="comments" class="responsesWrapper">
        <h3 class="comments-title">共有 <span class="count"></span> 条评论</h3>
        <ol class="commentlist sulliComment--list">
        </ol>
        <nav class="commentnav u-textAlignCenter"></nav>
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">发表回复 <small><a rel="nofollow"
                        id="cancel-comment-reply-link" href="/39#respond" style="display:none;">取消回复</a></small></h3>
            <form method="post" id="commentform" class="comment-form" novalidate="">
                <p class="comment-notes"><span id="email-notes">您的电子邮箱地址不会被公开。</span> <span
                        class="required-field-message">必填项已用<span class="required">*</span>标注</span></p>
                <p class="comment-form-author"><label for="author">显示名称 <span class="required">*</span></label> <input
                        id="author" name="comment_author_name" type="text" value="" size="30" maxlength="245"
                        autocomplete="name" required=""></p>
                <p class="comment-form-email"><label for="email">电子邮箱地址 <span class="required">*</span></label> <input
                        id="email" name="comment_author_email" type="email" value="" size="30" maxlength="100"
                        aria-describedby="email-notes" autocomplete="email" required=""></p>
                <p class="comment-form-url"><label for="url">网站地址</label> <input id="url" name="url" type="url" value=""
                        size="30" maxlength="200" autocomplete="url"></p>
                <p class="comment-form-comment"><label for="comment">评论 <span class="required">*</span></label>
                    <textarea id="comment" name="comment_content" cols="45" rows="8" maxlength="65525"
                        required=""></textarea>
                </p>
                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="发表评论">
                    <input type="hidden" name="post_id" value="{{ .File.UniqueID}}" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="">
                </p>
            </form>
        </div>
    </div>
</div>